/* Task - 03 */
#gallery {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}

#gallery img {
  display: fle;
  height: 220px;
  width: 320px;
  object-fit: cover;
  border: 10px solid #f7f7f7;
  border-radius: 10px;
}
